__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.env/
.env*/
.venv/

*.pt
*.pth
*.ckpt
data/
datasets/
outputs/
models/

.ipynb_checkpoints/

.vscode/
!.vscode/settings.json

.DS_Store
Thumbs.db

*.log
*.tmp
.cache/

*.pid