apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: sketchpad-monitor
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: sketchpad-app
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s
